@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1629294389872') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Brushhuabi:before {
  content: "\e71f";
}

.icon-clear:before {
  content: "\e694";
}

.icon-clear1:before {
  content: "\e620";
}

